<!doctype html>
<html>
<head>
    <title>Madn with Share</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="static/javascript.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/boot.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="container inner">
                <h3 class="masthead-brand">Mensch ärgere dich nicht</h3>
            </div>
            <div class="inner cover">
                <div class="info"><div class="log"></div>
                <div class="status"></div></div>
                <!--<form class="options">
                    <div class="form-check">
                        <input type="checkbox" name="type" value="0"><span class="label-text">Yellow</span>
                        <input type="checkbox" name="type" value="1"><span class="label-text">Green</span>
                        <input type="checkbox" name="type" value="2"><span class="label-text">Red</span>
                        <input type="checkbox" name="type" value="3"><span class="label-text">Blue</span>
                    </div>
                </form>-->
                <button class="btn btn-lg btn-default createGame" onclick="createGame()">Create Game</button>
                <button class="btn btn-lg btn-default joinGame" onclick="joinGame()">Join Game</button>
            </div>
            <div class="content">
                <div class="dicer">
                    <button class="btn btn-lg btn-default dice" onclick="dice()" style="display: none">Dice</button>
                    <div id="dice"></div>
                </div>
                {% include "madn-view.html" %}
            </div>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Simon Rininsland - HS-RM WS 18 / 19</p>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>